body {
	font-family: 'Overpass', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {

	box-sizing: border-box;
	border-radius: 30px;
	width: 300px;
	text-align: center;
	margin-top: 50px;
}

.container1 {
	box-sizing: border-box;
	border-radius: 30px;
	width: 300px;
	height: 400px;
	overflow: auto;
	padding: 40px;
	text-align: center;
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.circle {
	box-sizing: border-box;
	border-radius: 80px;
	width: 160px;
	height: 160px;
	overflow: auto;
	text-align: center;
	background-image: linear-gradient(hsl(241, 81%, 54%),hsl(252, 100%, 67%));
}

span {
	margin-bottom: 20px;
}

 p {
 	font-size: 0.8rem;
 	color: hsla(0, 0%, 80%, 1.0);
 	margin-top: 0px;
 }

 h1 {
 	font-size: 3.3rem;
 	margin-bottom: 0px;
 }

 h3 {
 	text-align: left;
 	margin-left: 30px;
 }

img {
	position: relative;
	top: 4px;
	margin-right: 10px;
}

 .strip {
 	box-sizing: border-box;
 	border-radius: 10px;
 	width: 250px;
 	height: 50px;
 	background-color: hsl(0, 100%, 95%);
 	margin: 20px 0px;
 	margin-left: 25px;
 	padding: 0px 10px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 #redtext {
 	color: hsl(0, 100%, 67%);
 }

  .strip1 {
 	box-sizing: border-box;
 	border-radius: 10px;
 	width: 250px;
 	height: 50px;
 	background-color: hsl(39, 100%, 95%);
 	margin: 20px 0px;
 	margin-left: 25px;
 	padding: 0px 10px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 #yellowtext {
 	color: hsl(39, 100%, 56%);
 }

  .strip2 {
 	box-sizing: border-box;
 	border-radius: 10px;
 	width: 250px;
 	height: 50px;
 	background-color: hsl(166, 100%, 95%);
 	margin: 20px 0px;
 	margin-left: 25px;
 	padding: 0px 10px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 #greentext {
 	color: hsl(166, 100%, 37%);
 }

  .strip3 {
 	box-sizing: border-box;
 	border-radius: 10px;
 	width: 250px;
 	height: 50px;
 	background-color: hsl(234, 85%, 95%);
 	margin: 20px 0px;
 	margin-left: 25px;
 	padding: 0px 10px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 a {
 	box-sizing: border-box;
 	background-color: hsl(224, 30%, 27%);
 	border-radius: 20px;
 	padding: 10px 90px;
 	text-decoration: none;
 	color: hsl(0, 0%, 100%);
 	line-height: 50px;
 }

 a:hover {
 	background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%))
 }

 #bluetext {
 	color: hsl(234, 85%, 45%);
 }

 @media (min-width:600px) {
 	
 	main {
 		width: 600px;
	display: flex;
	box-shadow: 10px 10px 20px 0px hsla(0, 0%, 50%, 0.2);

	
}
 	a {
 		 	margin-left: 30px;
 	}

 }